/* secMembers.jsp部分begin */
.thumbnail{
	position:relative;
	left:-25px;
	margin:10px 20px;
}

<style type="text/css">
        /** {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }*/
        /*a,
        img {
            border: 0;
        }*/
        /*body {
            font: 12px;
        }*/
        
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        
        .clearfix {
            display: inline-table;
        }
        /* Hides from IE-mac \*/
        /**html .clearfix {
            height: 1%;
        }*/
        
        .clearfix {
            display: block;
        }
        /* End hide from IE-mac */
        /**+html .clearfix {
            min-height: 1%;
        }*/
        /* lanrenzhijia */
        
        .lanrenzhijia {
            width: 900px;
            margin: 10px;
            overflow: hidden;
        }
        
        .lanrenzhijia ul {
            width: 900px;
        }
        
        .lanrenzhijia ul li {
            float: left;
            margin-right: 6px;
            margin-bottom: 10px;
            display: inline;
            width: 180px;
            height: 240px;
            overflow: hidden;
            position: relative;
        }
        
        .lanrenzhijia ul li .photo {
            width: 180px;
            height: 240px;
            overflow: hidden;
        }
        
        .lanrenzhijia .rsp {
            width: 180px;
            height: 240px;
            overflow: hidden;
            position: absolute;
            background: #000;
            top: 0px;
            left: 0px;
        }
        
        .lanrenzhijia .text {
            position: absolute;
            width: 180px;
            height: 240px;
            left: -240px;
            top: 0px;
            overflow: hidden;
        }
        
        .lanrenzhijia .text h3 {
            width: 180px;
            margin-top: 100px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #FFFFFF;
            font-size: 20px;
        }
        
        .lanrenzhijia .text a {
            text-decoration: none
        }
        
        .lanrenzhijia .text div {
            text-align: center;
            color: #FFFFFF;
            font-size: 18px;
        }
    </style>

/* secMembers.jsp部分end */